<html lang="tr">
<head>

    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>SWCRM</title>
    <meta name="keywords" content="SWCRM,SWCRM, SWCRM.net , web tasarım , web yazılım , SWCRM , İstabul web tasarım,hakkımızda" />
    <meta name="description" content="SWCRM web tasarım ve yazılım hizmetleri., Hakkımızda" />
    <META name="Author" content="Seda KILIÇ, Kevser YAVUZ">
    <meta name="robots" content="index, follow" />

    <meta property="og:locale" content="tr_TR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="SWCRM" />
    <meta property="og:description" content="SWCRM web tasarım ve yazılım hizmetleri." />
    <meta property="og:url" content="http://www.SWCRM.net" />
    <meta property="og:site_name" content="SWCRM,SWCRM, SWCRM.net , web tasarım , web yazılım , SWCRM , İstabul web tasarım" />
    <meta property="article:author" content="https://plus.google.com/u/0/108349753931657954946/posts" />
    <meta property="article:tag" content="meta tag" />
    <meta property="article:section" content="Web Tasarım" />
    <meta property="og:updated_time" content="2014-12-28T14:49:03+0000" />
    <meta property="og:image" content="http://www.SWCRM.net/~/Content/img/SWCRM-face-screen.png" /> <!--- meta etiketlerinin bulunduğu bölüm   --->
    <!-- ////////////////////////////////// -->
    <!-- //      Css Dosyalarım       // -->
    <!-- ////////////////////////////////// -->
    <link href="~/Content/styles/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/styles/media.css" />
    <link rel="stylesheet" href="~/Content/styles/revolution.css" media="screen" />
    <link rel="stylesheet" href="~/Content/styles/media-slideshow.css" media="screen" />
    <link rel="stylesheet" href="~/Content/styles/noscript.css" media="screen,all" id="noscript" />
    <link href="~/Content/fonts/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/styles/bootstrap.min.css" media="screen,all" id="noscript" />
    <link rel="stylesheet" href="~/Content/styles/bootstrap-theme.min.css" media="screen,all" id="noscript" />
    @*<style>
        @import url(//fonts.googleapis.com/css?family=Kaushan+Script);
            </style>*@

    <!-- ////////////////////////////////// -->
    <!-- //     /Css Dosyalarım       // -->
    <!-- ////////////////////////////////// -->


    <link rel="shortcut icon" href="fav.ico" />


    <!-- ////////////////////////////////// -->
    <!-- //      Javascript Dosyalarım       // -->
    <!-- ////////////////////////////////// -->
    <script src="~/Content/script/jquery.min-slider.js"></script>
    <script src="~/Content/script/jquery.easing-1.3.min.js"></script>
    <script src="~/Content/script/modernizr.js"></script>
    <script src="~/Content/script/superfish.js"></script>
    <script src="~/Content/script/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="~/Content/script/jquery.themepunch.plugins.min.js"></script>
    <script src="~/Content/script/jquery.themepunch.revolution.min.js"></script>
    <script src="~/Content/script/mediaelement-and-player.min.js"></script>
    <script src="~/Content/script/jquery.fancyboxe45fe45f.js?v=2.0.6"></script>
    <script src="~/Content/script/jquery.fancybox-media2c702c70.js?v=1.0.3"></script>
    <script src="~/Content/script/jquery.donutchart.js"></script>
    <script src="~/Content/script/jflickrfeed.min.js"></script>
    <script src="~/Content/script/jquery.twitter.js"></script>
    <script src="~/Content/script/accordion-functions.js"></script>
    <script src="~/Content/script/theme-functions.js"></script>
    <script src="~/Content/script/jquery.retina.js"></script>

    <script>
$(document).ready(function() {
//Retina Image
$('img.retina').retina('2x');

//Slideshow
$('.banner').revolution({
delay:9000,
startwidth:1040,
startheight:463,
onHoverStop:"off",						// Stop Banner Timet at Hover on Slide on/off

thumbWidth:100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
thumbHeight:50,
thumbAmount:3,

hideThumbs:0,
navigationType:"bullet",				// bullet, thumb, none
navigationArrows:"nexttobullets",				// nexttobullets, solo (old name verticalcentered), none

navigationStyle:"round-old",			// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


navigationHAlign:"center",				// Vertical Align top,center,bottom
navigationVAlign:"bottom",				// Horizontal Align left,center,right
navigationHOffset:-419,
navigationVOffset:72,

touchenabled:"on",						// Enable Swipe Function : on/off

stopAtSlide:-1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
stopAfterLoops:-1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

hideCaptionAtLimit:0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
hideAllCaptionAtLilmit:0,				// Hide all The Captions if Width of Browser is less then this value
hideSliderAtLimit:0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value


fullWidth:"on",

shadow:0								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)
})

});
    </script>

    <!-- Google Sayaç  javascpript kodu-->
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53660035-3', 'auto');
  ga('send', 'pageview');

    </script>
    <!-- /Google Sayaç -->
    <!-- ////////////////////////////////// -->
    <!-- //      /Javascript Dosyalarım       // -->
    <!-- ////////////////////////////////// -->

    <style>
        input[type="text"] {
            color: #444;
        }

        input[type="email"] {
            color: #444;
        }

        input[type="multilane"] {
            color: #444;
        }

        input[type="jumpmenu"] {
            color: #444;
        }

        input:required:invalid, input:focus:invalid {
            border-color: #C00;
            background-image: url(~/Content/img/invalid.png);
            background-position: right;
            background-repeat: no-repeat;
        }
    </style>



</head>
<body>


    <!-- talep modal bölümü -->
    <!-- / talep modal -->
    <!-- Sözleşme bölümü // açılır pencere şeklinde -->
    <div id="sozlesme" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> <i style="font-size:18px" class="fa fa-hand-o-right fa-fw"></i> KULLANICI SÖZLEŞMESİ</h4>
                </div>
                <div class="modal-body">

                    <table width="100%" border="0" style="font-size:14px; color:#000">
                        <tr>
                            <td>
                                <strong>Madde 1 – TARAFLAR</strong>
                                <br><pre>
Bir tarafta www.swcrm.com adresinde mukim  ile diğer tarafta ........................adresinde mukim ...............arasında (Kısaca MÜŞTERİ olarak anılacaktır.) aşağıda belirtilen şekil ve şartlarda tam bir anlaşmaya varılmıştır.</pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Madde 2 - KONU</strong><br>
                                <pre>
Bu sözleşme MÜŞTERİ'nin web sitesi yürütebilmek amacıyla ihtiyaç duyduğu web    tasarımlarının TASARIMCI tarafından hazırlanması hizmetini kapsamaktadır.</pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Madde 3 - MÜŞTERİ'NİN YÜKÜMLÜLÜKLERİ</strong><br>
<pre>
3.1 MÜŞTERİ, web tabanlı yazılımların yükleneceği sunucu sistemini ve söz konusu sistemin çalışabilmesi için gerekli bilumum yazılım/donanım ihtiyaçlarının kendisi tarafından karşılanacağını kabul, beyan ve taahhüt eder.
3.2 MÜŞTERİ, web tabanlı yazılımların düzenlenmesi ve tasarlanması için gerekli resim ve metin bazlı dokümanları kendisi tedarik etmekle yükümlüdür. MÜŞTERİ'nin gerekli dokümanları zamanında vermemesinden kaynaklanan gecikmelerden TASARIMCI sorumlu tutulamaz.  Bu halde, gecikme süresi teslim süresine eklenir. 
3.3 MÜŞTERİ, TASARIMCI tarafından üretilen tasarımlarda kullanılan özel grafik, tasarım, çizim, harita, model, animasyon, logo, amblem ve yazı tipinin manevi haklarının TASARIMCI’ya ait olduğunu, ancak bunların tüm mali haklarını alıp mülkiyetine geçtiğini, bu grafiklerin hiçbir şekilde işbu sözleşmenin amacına aykırı çoğaltıp, dağıtmayacağını, sözleşmede yazılı web sitesinden başka elektronik veya basılı bir mecrada kullanmayacağını kabul, beyan ve taahhüt eder.
3.4 MÜŞTERİ, işbu sözleşme konusunun gerçekleştirilmesi bakımından kullanılmak üzere sunduğu tüm fikir, düşünce, ifade, yorum ve yazı ve diğer her tür içeriklerin kendisine ait olduğunu, bu içeriklerin yasaya ve genel ahlâk kurallarına aykırılığından doğabilecek tüm hukuki ve cezai sorumluluğunun kendisine ait olduğunu kabul, beyan ve taahhüt eder. Bu hallerde, TASARIMCI’nın hiçbir şekilde sorumluluğu yoktur. 
3.5 MÜŞTERİ yapım aşamasında üzerinde çalışılan tasarımı bütün olarak değiştirme talebinde bulunduğunda, sözleşme tutarının %.........'si kadar fark ödeyeceğini kabul eder. Bütün olarak değiştirmeden kasıt, mevcut tasarımın en az %50’sinden fazlasının değiştirilmesidir.  
3.6  MÜŞTERİ, TASARIMCI’nın onay için göndermiş olduğu her çalışmayı en geç 72 saat içinde uygun olup olmadığını denetleyerek TASARIMCI’ya onay verecektir. Bu süre içinde olumlu / olumsuz bir cevap verilmediği takdirde, MÜŞTERİ çalışmayı onaylamış sayılır.</pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Madde 4 - TASARIMCI'nın YÜKÜMLÜLÜKLERİ</strong><br>
<pre>
4.1 TASARIMCI, bu sözleşme konusu olan  ve MÜŞTERİ’nin ihtiyaç duyduğu tasarım ve yazılım hizmetini vermekle yükümlüdür. 
4.2 TASARIMCI, MÜŞTERİ'ye sağlanmakta olan hizmetlerle ilgili oluşabilecek hataları ve sorunları söz konusu hata ve sorunların tespitinden itibaren 24 saat içerisinde düzeltmekle yükümlüdür.  
4.3 TASARIMCI, MÜŞTERİ tarafından talep edilen ek tasarım (tasarım ve veritabanı kodlarında değişikliği gerektiren düzeltmeler ve sayfa eklemeler) için, gerekli etüdü tamamlandıktan sonra belirleyeceği en kısa süre içinde gerekli düzenleme ve ilaveleri ek ücret mukabilinde sisteme entegre edeceğini beyan eder.
4.4 TASARIMCI, MÜŞTERİ için hazırlanmış tasarımlar bakımından bütün olarak tasarım değişikliğini gerektirmeyen düzeltmeler için gerekli etüdü tamamladıktan sonra belirleyeceği en kısa süre içinde gerekli düzenleme ve ilaveleri sisteme edeceğini kabul, beyan ve taahhüt eder. 
4.5 Web sitesinin taslak yayımı … gün, bitmiş yayımı …. gün içinde yapılacaktır. TASARIMCI, MÜŞTERİ tarafından talep edilmesi durumunda bütün şifreleri teslim edeceğini kabul, beyan ve taahhüt eder.</pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Madde 5 - HİZMET BEDELİ</strong><br>
                                <pre>
5.1 MÜŞTERİ, Hizmet bedeli'ni  TASARIMCI’nın banka hesabına ödeyeceğini kabul, beyan ve taahhüt eder. 
5.2 Ödemelerin yapılmaması durumunda, TASARIMCI taahhüt ettiği hizmeti ertelemek, durdurmak veya sözleşmeyi feshetmek hakkına sahiptir.
</pre>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Madde 6- HİZMET SÜRESİ VE FESİH</strong><br>
                                <pre>6.1	İşbu sözleşme ile taahhüt edilen hizmetin süresi …………… gün olarak belirlenmiş olup bu süre TASARIMCI tarafından tasarım ve web yazılımına uygulamanın gerçekleştirilmesi için gerekli tüm dokümanların verilmesi ile başlar.  Sözleşme süresinin sona ermesinden …. gün önce tarafların bu konuda anlaşmış olması halinde hizmet süresi ücret mukabilinde uzatılır.
    
6.2	Bu sözleşmenin uygulanmasında, taraflardan birinin, yüklendiği asli edimlerden veyahut sözleşmenin esaslı unsurlarından birini, zamanında ve/veya eksik ve/veya hiç ifa etmemesi halinde, diğer taraf, yazılı düzeltme bildiriminde bulunarak, ihlal eden tarafa, aykırılığın giderilmesi için, 5 işgünü süre tanır. Tanınan süre içinde sözleşmeye aykırılık giderilmediği takdirde, ihlale uğrayan taraf, sözleşmeyi tek taraflı olarak, yazılı bir ihtara gerek olmaksızın ve herhangi bir nam altında tazminat ödemek zorunda olmaksızın feshedebilir. İhlal eden taraf, ihlale uğrayan tarafın bu sebeple uğradığı her türlü zararı tazmin eder. 
</pre>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>Madde 7 - GİZLİLİK</strong><br>
                                <pre>
Bu sözleşmenin ifası sırasında, taraflar sözleşme kapsamında öğrenmiş oldukları ve kamuya açık olmayan tüm bilgiler gizli bilgi mahiyetindedir. Taraflar sözleşme kapsamında öğrenmiş oldukları bu bilgileri, hiçbir suretle sözleşme amacının yerine getirilmesi dışında kullanmamayı, diğerinin yazılı izni olmaksızın doğrudan veya dolaylı olarak üçüncü kişilere vermemeyi, açıklamamayı, kamuya duyurmamayı ya da bu şekilde sonuçlanacak davranışlardan kaçınmayı kabul, beyan ve taahhüt eder. 
    </pre>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>Madde 8 – TEBLİGATLAR</strong><br>
<pre>Bu sözleşme ve uygulanması ile ilgili olarak yapılacak her türlü tebligat için, taraflar, bu sözleşmenin 1. maddesinde yazılı adresleri, yasal ikametgah olarak belirlemişlerdir. Taraflar, bu adreslerde vaki değişiklikleri, diğer tarafa, noter kanalı veya iadeli taahhütlü mektup yolu ile bildirmedikleri takdirde, bu adreslerine yapılacak tebligatların geçerli, usulüne uygun ve kendilerine yapılmış sayılacağını kabul, beyan ve taahhüt ederler.</pre>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>Madde 9 – ELEKTRONİK KAYITLARIN GEÇERLİLİĞİ</strong><br>
                                <pre>
Taraflar arasında ve tarafların yetkililerince yapılan e-posta, anlık mesaj ve faks gibi elektronik yazışma kayıtları, kanunen geçerli delil sayılarak, usul hukuku bağlamında kesin ve bağlayıcı delil olarak kabul edilmiştir.</pre>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <strong>Madde 10 - YETKİLİ MAHKEME VE İCRA DAİRELERİ</strong><br>
                                <pre>Bu sözleşmenin uygulanmasından doğabilecek her türlü uyuşmazlıkların çözümünde İSTANBUL mahkemeleri ve İcra Daireleri yetkilidir. 10(on) maddeden ve 3 (üç) sayfadan oluşan bu sözleşme ......../........./........... tarihinde 2(iki) nüsha olarak düzenlenmiştir</pre>
                            </td>
                        </tr>

                        <tr>
                            <td><pre>……………………..							          MÜŞTERİ</pre></td>
                        </tr>
                    </table>


                    <p style="margin:0px; padding:0px" class="text-error"><small style="font-size:12px"><strong>*Bizimle çalışmak istiyorsanız tüm bu maddeleri kabul etmiş sayılırsınız.</strong></small></p>
                </div>


            </div>
        </div>
    </div>


    <!-- /.Sözleşme-->

    <header>
        <div id="top-info">
            <div class="row">
                <div class="twelve column">
                    <!-- logo ve sosyal ağ -->
                    <!-- OnDestek Kod Başlangıcı -->
                    <script type="text/javascript">
window.$ondestek||(window.$ondestek=function(){var e=document.createElement("script");e.type="text/javascript",e.src="https://panel.ondestek.com/client/client.js",e.async=!0;var t=document.getElementsByTagName("head")[0];t.insertBefore(e,t.firstChild)})();
                    </script>
                    <!-- OnDestek Kod Bitişi -->
                    <div id="logo">
                        <a href="index.html"><div style="background-image:url(~/Content/img/logo.png); width:260px ; height:115px; background-size:100% 100% ; background-repeat:no-repeat" class="retina"></div></a>
                    </div>

                    <div id="top-socials">
                        <ul>
                            <li class="facebook-color"><a target="_blank" href="https://www.facebook.com/SWCRM"><i class="fa fa-facebook fa-fw"></i></a></li>
                            <li class="twitter-color"><a target="_blank" href="https://twitter.com/SWCRM_"><i class="fa fa-twitter fa-fw"></i></a></li>
                            <li class="mail-color"><a target="_blank" href="iletisim"><i class="fa fa-envelope-o fa-fw"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>        <!-- /logo ve sosyal ağ-->

        <div id="mainmenu-wrapper">
            <div class="left-menu">

                <!-- menu bölümü  -->

                <nav id="mainmenu">
                    <ul id="menu">
                        <li class="dropdown selected ">@Html.ActionLink("Anasayfa", "Index", "Home")<span class="desc-menu">SWCRM Nedir ?</span></li>
                        <li class="dropdown ">@Html.ActionLink("CRM", "CRM", "Home")<span class="desc-menu">Müşteri İlişkileri Yönetimi</span></li>
                        <li class="dropdown ">@Html.ActionLink("E-Pro CRM", "EProCRM", "Home")<span class="desc-menu">CRM+E-Ticaret</span></li>
                        <li class="dropdown ">@Html.ActionLink("İletişim", "Contact", "Home")<span style="font-size:10px" class="desc-menu">Bize Ulaşın</span></li>
                        <li class="dropdown ">@Html.ActionLink("Giriş Yap", "EmployeeLogin", "Home")<span class="desc-menu">Kullanıcı Girişi</span></li>
                    </ul>
                </nav>



                <!-- menu bölümü bitiş -->
            </div>

            <div class="right-menu" id="top-search">
                <a class="trigger" href="#"><i class="fa fa-search"></i></a>
                <div class="search-panel">
                    <ul>
                        <li>
                            <form id="search" action="arama-sonuclari" method="post">
                                <fieldset class="search-fieldset">
                                    <input name="kelime" type="text" id="search-form" value="Ne Aramıştınız ?" min="3" max="25" maxlength="25" required />
                                </fieldset>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </header>

    <section id="slideshow-container">
        <div class="banner">

            <ul>
                <!-- slide 1 -->
                <li data-transition="fade">
                    <img src="~/Content/img/slideshow/transparent.png" alt="" style="background:#2980b9">
                    <div class="caption general_caption lfb" data-x="-432" data-y="190" data-speed="2000" data-endspeed="1000" data-start="300" data-end="7700" data-easing="easeOutExpo" data-endeasing="easeInExpo"><img src="~/Content/img/slideshow/sld1_bg1.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="-432" data-y="284" data-speed="2300" data-endspeed="1000" data-start="600" data-end="7800" data-easing="easeOutExpo" data-endeasing="easeInExpo"><img src="~/Content/img/slideshow/sld1_bg2.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="-432" data-y="294" data-speed="2600" data-endspeed="1000" data-start="900" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInExpo"><img src="~/Content/img/slideshow/sld1_bg3.png" alt=""></div>
                    <div class="caption general_caption pst_media12 lft" data-x="58" data-y="119" data-speed="2200" data-endspeed="900" data-start="800" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInBack"><h1 class="bold">Hoş Geldiniz...</h1></div>
                    <div class="caption general_caption pst_media lft" data-x="58" data-y="175" data-speed="2200" data-endspeed="900" data-start="600" data-end="8100" data-easing="easeOutExpo" data-endeasing="easeInBack"><h4>Kaliteli CRM Sahibi Olmak İster misiniz?</h4></div>
                    <div class="caption randomrotate" data-x="58" data-y="242" data-speed="1200" data-start="700" data-end="8000" data-easing="easeOutExpo"><a class="button medium white" href="#talep" data-toggle="modal">EVET</a></div>

                    <div class="caption general_caption lfb" data-x="593" data-y="5" data-speed="4000" data-endspeed="1000" data-start="100" data-end="8200" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="~/Content/img/slideshow/sld1_icon1.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="779" data-y="13" data-speed="4000" data-endspeed="1000" data-start="200" data-end="8100" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="~/Content/img/slideshow/sld1_icon2.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="887" data-y="158" data-speed="4000" data-endspeed="1000" data-start="300" data-end="7900" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="~/Content/img/slideshow/sld1_icon3.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="795" data-y="293" data-speed="4000" data-endspeed="1000" data-start="600" data-end="7900" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="~/Content/img/slideshow/sld1_icon4.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="585" data-y="300" data-speed="4000" data-endspeed="1000" data-start="700" data-end="8000" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="~/Content/img/slideshow/sld1_icon5.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="492" data-y="165" data-speed="4000" data-endspeed="1000" data-start="400" data-end="7800" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="~/Content/img/slideshow/sld1_icon6.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="683" data-y="167" data-speed="4000" data-endspeed="1000" data-start="500" data-end="7700" data-easing="easeOutElastic" data-endeasing="easeInExpo"><img src="~/Content/img/slideshow/sld1_icon7.png" alt=""></div>
                </li>

                <!-- slide 2 -->
                <li data-transition="fade" style="background-color:#09C">
                    <img src="~/Content/img/slideshow/transparent.png" alt="" style="background-color:#09C">

                    <div class="caption randomrotate" data-x="-43" data-y="0" data-speed="1200" data-start="200" data-end="7500" data-easing="easeOutExpo"><img src="~/Content/img/slideshow/sld2_ornament1.png" alt=""></div>
                    <div class="caption randomrotate" data-x="244" data-y="0" data-speed="1200" data-start="400" data-end="7800" data-easing="easeOutExpo"><img src="~/Content/img/slideshow/sld2_ornament2.png" alt=""></div>
                    <div class="caption randomrotate" data-x="580" data-y="0" data-speed="1200" data-start="400" data-end="7800" data-easing="easeOutExpo"><img src="~/Content/img/slideshow/sld2_ornament3.png" alt=""></div>
                    <div class="caption randomrotate" data-x="915" data-y="0" data-speed="1200" data-start="200" data-end="7500" data-easing="easeOutExpo"><img src="~/Content/img/slideshow/sld2_ornament4.png" alt=""></div>
                    <div class="caption general_caption pst_media2 lft" data-x="228" data-y="124" data-speed="2200" data-endspeed="900" data-start="600" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInBack"><h1 class="bold btm-line"><font color="blue">G</font><font color="red">O</font><font color="yellow">O</font><font color="blue">G</font><font color="blue">L</font><font color="red">E</font> Bizim için önemli...</h1></div>
                    <div class="caption general_caption lfb" data-x="227" data-y="214" data-speed="2200" data-endspeed="900" data-start="800" data-end="7900" data-easing="easeOutExpo" data-endeasing="easeInBack"><p class="lead text-center">Ya Sizin İçin ?<br />Hemen İletişime geç ve sende <b>SWCRM &trade;</b> ile her zaman önde ol !</p></div>
                </li>

                <!-- slide 3 -->
                <li data-transition="fade">
                    <img src="~/Content/img/slideshow/transparent.png" alt="" style="background:#09C;">
                    <div class="caption pst_media13 randomrotate" data-x="319" data-y="24" data-speed="2200" data-start="300" data-easing="easeOutExpo"><img src="~/Content/img/slideshow/sld3_ornament4.png" alt=""></div>
                    <div class="caption pst_media13 randomrotate" data-x="-81" data-y="113" data-speed="2200" data-start="100" data-easing="easeOutExpo"><img src="~/Content/img/slideshow/sld3_ornament5.png" alt=""></div>
                    <div class="caption pst_media13 randomrotate" data-x="-3" data-y="52" data-speed="2200" data-start="600" data-easing="easeOutExpo"><img src="~/Content/img/slideshow/sld3_ornament3.png" alt=""></div>
                    <div class="caption pst_media13 randomrotate" data-x="-26" data-y="0" data-speed="2200" data-start="1200" data-easing="easeOutExpo"><img src="~/Content/img/slideshow/sld3_ornament2.png" alt=""></div>
                    <div class="caption pst_media13 randomrotate" data-x="1" data-y="47" data-speed="2200" data-start="900" data-easing="easeOutExpo"><img src="~/Content/img/slideshow/sld3_ornament1.png" alt=""></div>

                    <div class="caption pst_media13 video_box fade" data-x="51" data-y="63" data-speed="900" data-start="800" data-easing="easeOutBack"><img src="~/Content/img/slideshow/sld_videobg.png" alt=""></div>
                    <div class="caption pst_media13 video_box lfb" data-x="51" data-y="63" data-speed="900" data-start="500" data-easing="easeOutBack"><img src="~/Content/img/responsive.png"></div>
                    <div class="caption general_caption media_hide lfr fadeout" data-x="577" data-y="80" data-speed="900" data-start="100" data-easing="easeOutBack"><h1 class="bold">Hepsi Bir Arada CRM Sistemi</h1></div>
                    <div class="caption general_caption lfr fadeout" data-x="577" data-y="153" data-speed="800" data-start="1200" data-easing="easeOutBack">
                        <p class="lead">Dilerseniz CRM ve E-Ticaret paketinizi<br />tüm ekran çözünürlüklerine<br> uygun şekilde tasarlarız.</p>
                    </div>

                    <div class="caption general_caption media_hide lfb fadeout" data-x="581" data-y="258" data-speed="900" data-start="1400" data-easing="easeOutBack"><img src="~/Content/img/slideshow/sld3_img1.png" alt=""></div>
                    <div class="caption general_caption media_hide lfb fadeout" data-x="771" data-y="257" data-speed="900" data-start="2200" data-easing="easeOutBack"><img src="~/Content/img/slideshow/sld3_img2.png" alt=""></div>
                    <div class="caption general_caption pst_media3 lfb fadeout" data-x="730" data-y="254" data-speed="900" data-start="1800" data-easing="easeOutBack"><h1 class="handwrite"><!-- Yazı yazılablr--></h1></div>
                </li>

                <!-- slide 4 -->
                <li data-transition="fade">
                    <img src="~/Content/img/slideshow/transparent.png" alt="" style="background:#e4e6e6">
                    <div class="caption general_caption lfb" data-x="-432" data-y="0" data-speed="2000" data-endspeed="1000" data-start="100" data-end="7700" data-easing="easeOutExpo" data-endeasing="easeInExpo"><img src="~/Content/img/slideshow/sld4_bg1.png" alt=""></div>
                    <div class="caption general_caption lfb" data-x="520" data-y="28" data-speed="3000" data-endspeed="1000" data-start="700" data-end="8000" data-easing="easeOutExpo" data-endeasing="easeInExpo"><img src="~/Content/img/slideshow/sld4_img1.png" alt=""></div>
                    <div class="caption general_caption pst_media14 lfl ltl" data-x="56" data-y="83" data-speed="900" data-endspeed="900" data-start="100" data-end="5700" data-easing="easeOutBack" data-endeasing="easeInBack"><h2 class="bold blue-text">SWCRM Özellikleri</h2></div>
                    <div class="caption general_caption lfl ltl " data-x="56" data-y="162" data-speed="900" data-endspeed="900" data-start="800" data-end="6200" data-easing="easeOutBack" data-endeasing="easeInBack">
                        <p class="lead-alt" style="background-color:#09C"><i class="fa fa-check-circle"></i> Satış ve Teklif Yönetimi</p>
                    </div>
                    <div class="caption general_caption pst_media4 lfl ltl" data-x="56" data-y="210" data-speed="900" data-endspeed="900" data-start="1300" data-end="6700" data-easing="easeOutBack" data-endeasing="easeInBack">
                        <p class="lead-alt" style="background-color:#09C"><i class="fa fa-check-circle"></i> Müşteri ve Kontak Yönetimi</p>
                    </div>
                    <div class="caption general_caption pst_media5 lfl ltl" data-x="56" data-y="258" data-speed="900" data-endspeed="900" data-start="1800" data-end="7200" data-easing="easeOutBack" data-endeasing="easeInBack">
                        <p class="lead-alt" style="background-color:#09C"><i class="fa fa-check-circle"></i> Ürün - Stok - ETicaret ve Private Shopping Altyapısı</p>
                    </div>
                    <div class="caption general_caption pst_media5 lfl ltl" data-x="56" data-y="308" data-speed="900" data-endspeed="900" data-start="2300" data-end="7700" data-easing="easeOutBack" data-endeasing="easeInBack">
                        <p class="lead-alt" style="background-color:#09C"><i class="fa fa-check-circle"></i> Görev - Etkinlik - Ajanda Yönetimi </p>
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-top"></div>

        </div>
    </section>
    <!-- slideshow start here slider bölümü bitiş -->
    <!-- talep formu bölümü  -->
    <section id="slide-box">
        <div class="row">
            <div class="twelve column">
                <div class="promo-box">
                    <div class="promo-text">
                        <div class="flatborder left">
                            <i class="flat-file small"></i>
                        </div>
                        <h3>%100 Kalite İle CRM Sahibi Olmak İstermisiniz ?</h3>
                        <p>İş süreçlerinizi daha iyi yönetin verimliliğinizi arttırın.</p>
                    </div>
                    <div class="promo-button acikmavi">
                        <a style="color:#FFF" href="#" data-toggle="modal"><h3>Kayıt Ol <b class="fa fa-check-circle fa-fw"></b></h3></a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- header end here -->
    <!-- slideshow start here slider bölümü -->
    <div class="row">

        @RenderBody()

    </div>

    <footer>
        <div class="row">
            <div class="nine column">
                <h6>Bizimle İletişim</h6>

                <ul class="footer-address no-bullet">
                    <li class="fa fa-home"> İstanbul</li>
                    <li class="fa fa-phone"> 0505 555 55 55</li>
                    <li class="fa fa-envelope"><a href="https://plus.google.com/u/0/108349753931657954946/posts">&nbsp;swcrm@gmail.com</a></li>    <!---gmail bölümüne yönlendirme --->

                </ul>

                <ul class="footer-link no-bullet">
                    <li><a href="#sozlesme" data-toggle="modal">Kullanıcı Sözleşmesi</a></li>
                    <li>Yasal Sorumluluklar</li>
                    <li>Hakkımızda</li>
                    <li>Sıkça Sorulan Sorular</li>
                </ul>
                <br>
                <div style="visibility:hidden ; display:none ">
                </div>
            </div>

            <div class="three column">
                <div style="background-image:url(~/Content/img/logo.png);margin-bottom:4px;
width:135px;
height:35px; background-repeat:no-repeat; background-size:100% 100%;" class="retina"></div>
                <p>Copyright &copy; 2016 - Tüm Hakları Saklıdır.</p>
                <p>SWCRM | 2017</p>	<br>
                <div class="bankalar"></div>
            </div>
        </div>
    </footer>


    <!-- /alt kısım-->


    <script src="~/Content/script/bootstrap.min.js"></script>
    <script src="~/Content/script/bootstrap.min.js"></script>

    <script>
function SayiKontrol(e) { /*mouse sayı kontrolu*/
	olay = document.all ? window.event : e;
	tus = document.all ? olay.keyCode : olay.which;
	if(tus<48||tus>57) {
		if(document.all) { olay.returnValue = false; } else { olay.preventDefault(); }
	}
}

function HarfKontrol(e) {  /*mouse harf kontrolu*/
	olay = document.all ? window.event : e;
	tus = document.all ? olay.keyCode : olay.which;
	if(tus>=48&&tus<=57) {
		if(document.all) { olay.returnValue = false; } else { olay.preventDefault(); }
	}
}
    </script>




</body>
</html>
